.portfolio {
  background-image: var(--thirdGradient);

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 40px;
    justify-content: center;

    margin-bottom: 60px;

    .listItem {
      position: relative;

      font-size: var(--tinyFontSize);
      font-weight: 700;
      color: var(--titleColor);

      transition: all 0.7s var(--transition);

      &::before {
        content: '';

        position: absolute;
        bottom: -12px;
        left: 0;

        width: 0;
        max-width: 60%;
        height: 2px;

        background-color: var(--primaryColor);

        transition: all 0.3s var(--transition);
      }

      &:hover::before {
        width: 40px;
      }
    }

    .active {
      color: var(--primaryColor);

      &::before {
        width: 40px;
      }
    }
  }

  .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    .items {
      .imgWrapper {
        overflow: hidden;
        border-radius: 18px;

        img {
          width: 100%;
          height: 240px;

          vertical-align: middle;

          object-fit: cover;

          transition: all 0.6s var(--transition);
        }
      }

      .category {
        display: block;

        margin-top: 30px;
        margin-bottom: 5px;

        font-size: var(--tinyFontSize);
        font-weight: 700;
        color: var(--primaryColor);
      }

      .title {
        font-style: var(--h4FontSize);
      }

      .description {
        min-height: 125px;
        margin-top: 30px;
      }

      .linkWrap {
        width: 130px;

        .link {
          display: flex;

          &:not(:last-child) {
            margin-bottom: 5px;
          }

          span {
            width: 86px;
          }
        }
      }

      &:hover {
        .imgWrapper img {
          transform: scale(1.04);
        }
      }
    }
  }
}

/* media */
@media screen and (width <= 1200px) {
  .portfolio {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (width <= 992px) {
  .portfolio {
    .container {
      gap: 30px;

      .items {
        .imgWrapper {
          img {
            height: 200px;
          }
        }
      }
    }
  }
}
