.container {
  max-width: 1300px;
  margin-inline: auto;
  padding-inline: 12px;
}

.grid {
  display: grid;
  gap: 24px;
}

.text_cs {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.btn {
  padding-inline: 40px;
  border: 2px solid var(--borderColor);
  border-radius: 56px;
  box-shadow: var(--shadow);

  &::before {
    content: '';

    position: absolute;
    z-index: -1;
    inset: 2px;
    transform: scale(0.3);

    opacity: 0;
    background-color: var(--primaryColor);
    filter: blur(10px);
    border-radius: inherit;

    transition: all 0.7s var(--transition);
  }

  &:hover::before {
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
  }
}

.heroLink {
  cursor: pointer;

  &::before {
    cursor: default;
    content: '';

    position: absolute;
    top: 50%;
    left: -107%;
    transform: translateY(-50%);

    width: 40px;
    height: 2px;

    background-color: var(--borderColor);
  }
}

.btn,
.heroLink {
  position: relative;
  z-index: 1;

  display: grid;
  place-items: center;

  height: 56px;

  font-size: var(--tinyFontSize);
  font-weight: 700;
  color: var(--titleColor);
}

.section {
  position: relative;
  padding-bottom: 220px;
}

.sectionTitle {
  font-size: var(--h1FontSize);
}

.sectionSubtitle {
  margin-bottom: 60px;

  font-size: var(--smallerFontSize);
  font-weight: 700;
  color: var(--primaryColor);
  text-transform: uppercase;

  span {
    margin-left: 10px;

    font-family: var(--secondFont), sans-serif;
    font-size: var(--h3FontSize);
    color: var(--titleColor);
    text-transform: capitalize;
  }
}

.sectionTitle,
.sectionSubtitle {
  text-align: center;
}

.card {
  position: relative;
  overflow: hidden;
  text-align: left;
  background-color: var(--containerColor);
}

.cardOne {
  padding: 30px 35px;
  border-radius: 18px;
}

.cardTwo {
  padding: 30px;
  border-radius: 20px;
}

.linkIcon {
  margin-left: 20px;
  color: var(--primaryColor);
  transition: all 0.2s var(--transition);
}

.link {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  color: var(--titleColor);

  &:hover {
    .linkIcon {
      margin-left: 15px;
    }
  }
}

.c_shape {
  right: -24px;
  bottom: -24px;
  width: 141px;
  height: 141px;
}

.section__deco {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);

  width: 2px;
  height: 70%;

  background-color: var(--borderColor);

  &::before,
  &::after {
    content: '';

    position: absolute;
    left: 50%;

    width: 30px;
    height: 30px;

    background-color: var(--bgColor);
    border: 2px solid var(--borderColor);
    border-radius: 50%;
    box-shadow: var(--shadow);
  }

  &::before {
    top: 0;
    transform: translate(-50%, -100%);
  }

  &::after {
    bottom: 0;
    transform: translate(-50%, 100%);
  }

  .shape {
    bottom: -200px;
    max-width: 226px;
    height: 226px;
  }
}

.deco__right {
  right: 3%;

  .shape {
    left: -42px;
  }
}

.deco__left {
  left: 3%;

  .shape {
    right: -42px;
  }
}

.header__deco {
  left: 75px;

  .shape {
    z-index: -1;
    top: -200px;
    left: -168px;
  }
}

/* media */
@media screen and (width <= 1400px) {
  .section__deco:not(.header__deco) {
    display: none;
  }
}

@media screen and (width <= 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (width <= 992px) {
  :root {
    --h2FontSize: 24px;
    --h3FontSize: 23px;
    --h4FontSize: 21px;
    --h5FontSize: 20px;
    --largestFontSize: 19px;
    --largerFontSize: 18px;
    --largeFontSize: 16px;
    --normalFontSize: 15px;
    --smallFontSize: 14px;
    --smallerFontSize: 13px;
    --tinyFontSize: 12px;
  }

  .container {
    max-width: 740px;
  }

  .heroLink {
    &::before {
      left: 50%;
      top: -72%;
      width: 2px;
      height: 40px;
      transform: translateX(-50%);
    }
  }
}
