.skills {
	background-image: var(--secondGradient);
}

.container {
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
}

.item {
	display: grid;
	align-items: center;
	height: 200px;
	/*background-color: var(--containerColor);*/
	border-radius: 20px;
	position: relative;
	overflow: hidden;
	box-shadow: var(--shadow);

	&:hover {
		background-color: var(--primaryColor);
		transform: scale(1.1);

		.shape {
			display: none;
		}
	}
}

.name {
	margin-top: 8px;
	text-align: center;
	font-style: var(--largestFontSize);
}

.shape {
	right: -55px;
	bottom: -55px;
	width: 141px;
	height: 141px;
}

.item, .name {
	transition: all 0.3s var(--transition);
}

.titles, .description {
	padding-inline: 30px;
}

.logo {
	img {
		display: block;
		margin: 0 auto;
		width: 65px;
	}
}

