.skills {
	background-image: var(--secondGradient);
}

.container {
	grid-template-columns: repeat(3, 1fr);
	row-gap: 70px;
}

.item {

}

.titles {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

.titles, .description {
	padding-inline: 30px;
}

.name {
	font-style: var(--largestFontSize);
}

.number {
	color: var(--titleColor);
	font-weight: 700;

	span {
		color: var(--primaryColor);
	}
}

.description {
	margin-bottom: 30px;
}

.bar {
	background: rgba(255, 255, 255, 0.2);
}

.percentage {
	display: block;
	background-color: var(--primaryColor);
	position: relative;

	span {
		background-color: var(--containerColor);
		border: 2px solid var(--borderColor);
		box-shadow: var(--shadow);
		width: 25px;
		height: 25px;
		border-radius: 50%;
		position: absolute;
		right: 0;
		top: -12px;
	}
}

.bar, .percentage {
	height: 2px;
}

