.skills {
	background-image: var(--secondGradient);
}

.container {
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
}

.item {
	display: grid;
	align-items: center;
	height: 190px;
	background-color: var(--containerColor);
	border-radius: 20px;
	box-shadow: var(--shadow);

	&:hover {
		background-color: var(--primaryColor);
		transform: scale(1.1);

		/*.name {*/
		/*	color: var(--bgColorAlt);*/
		/*}*/
	}
}

.name {
	margin-top: 10px;
	text-align: center;
	font-style: var(--largestFontSize);
}

.item, .name {
	transition: all 0.3s var(--transition);
}

.titles, .description {
	padding-inline: 30px;
}

.logo {
	img {
		display: block;
		margin: 0 auto;
		width: 65px;
	}
}

