@import '../styles/variables';

.main {
  overflow: hidden;
}

* {
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input,
body {
  font-family: var(--bodyFont), sans-serif;
  font-size: var(--normalFontSize);
}

body {
  color: var(--textColor);
  background-color: var(--bgColor);
}

body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--titleColor);
}

ul {
  list-style: none;
}

p {
  line-height: 1.7;
}

a {
  text-decoration: none;
}

input,
textarea,
button {
  background: transparent;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.light-theme {
  --titleColor: #000;
  --textColor: #262626;
  --bgColor: #f0ebe3;
  --bgColorAlt: #fff;
  --containerColor: #fff;
  --borderColor: #000;
  --borderColorShadow: rgb(0 0 0 / 20%);
  --borderColorFooter: rgb(0 0 0 / 5%);
  --shadow: 5px 5px rgb(0 0 0 / 20%);
}

.shape {
  position: absolute;
}

.dark-theme .shape {
  opacity: 0.6;
  filter: invert(1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background: linear-gradient(
    rgb(255 255 255 / 0%) 0%,
    rgb(0 174 255 / 4%) 50%,
    rgb(255 255 255 / 0%) 51%,
    rgb(0 174 255 / 3%) 100%
  );
  box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;

  -webkit-text-fill-color: #fff;
}
