@import "../common/styles/variables.css";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

button, input, body {
	font-family: var(--bodyFont);
	font-size: var(--normalFontSize);
}

body {
	color: var(--textColor);
	background-color: var(--bgColor);
}

h1, h2, h3 {
	color: var(--titleColor);
	font-weight: 700;
}

ul {
	list-style: none;
}

p {
	line-height: 1.7;
}

a {
	text-decoration: none;
}

input, textarea, button {
	border: none;
	outline: none;
	background: transparent;
}

button {
	cursor: pointer;
}

img {
	max-width: 100%;
}