.contact {
  background-image: var(--second-gradient);

  &__container {
    grid-template-columns: 5fr 7fr;
    position: relative;
    z-index: 10;
  }

  &__card {
    padding-left: 130px;
    margin-bottom: 40px;
    position: relative;

    &-icon {
      border: 2px solid var(--border-color);
      background-color: var(--container-color);
      position: absolute;
      top: 0;
      left: 0;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      box-shadow: var(--shadow);
      font-size: var(--larger-font-size);
      display: grid;
      place-items: center;

      &::after {
        content: '';
        width: 40px;
        height: 2px;
        background: var(--border-color);
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -1px;
      }
    }

    &-title {
      font-size: var(--h2-font-size);
      font-family: var(--second-font), cursive;
      padding-block: 6px;
    }
  }

  &__form {
    &-group {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
    }

    &-div {
      position: relative;
      display: grid;
      row-gap: 10px;
      margin-bottom: 30px;
    }

    &-tag {
      margin-left: 30px;
      font-size: var(--smaller-font-size);
      line-height: 1.7;
      font-weight: 700;

      b {
        color: var(--primary-color);
      }
    }

    &-input {
      border: 2px solid var(--border-color);
      background-color: var(--container-color);
      color: var(--title-color);
      height: 60px;
      padding-inline: 30px;
      border-radius: 30px;

      &.error {
        border-color: #d30000;
      }
    }

    &-area .contact__form-input {
      height: 140px;
      padding-block: 20px;
      resize: none;
    }

    &-error {
      position: absolute;
      top: 94px;
      margin-left: 30px;
      color: #d30000;

      &.message {
        top: 175px
      }
    }
  }

  &__submit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 15px;
  }
}

@media screen and (max-width: 992px) {
  .contact {
    &__card {
      padding-left: 100px;

      &-icon {
        font-size: var(--large-font-size);
        width: 42px;
        height: 42px;

        &::after {
          width: 32px;
        }
      }
    }

    &__form-group {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 768px) {
  .contact {
    &__container {
      grid-template-columns: 1fr;
    }
  }
}