.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px;
  background-color: transparent;
  transition: all 0.5s var(--transition);
  z-index: 100;

  .nav {
    display: flex;
    justify-content: space-between;

    .logo {
      color: var(--titleColor);
      font-size: var(--h4FontSize);
      font-weight: 700;
      cursor: pointer;
    }

    .menu {
      position: fixed;
      top: 0;
      right: 0;
      width: 0;
      height: 100vh;
      background-color: var(--bgColorAlt);
      z-index: 10;
      display: flex;
      transition: all 0.8s var(--transition);

      .data {
        padding: 80px 84px 0 154px;
        margin: auto;
        width: 100%;

        .list {
          margin-bottom: 40px;

          .item {
            margin-bottom: 20px;

            .active {
              color: var(--primaryColor);
            }

            .link {
              color: var(--titleColor);
              font-size: var(--h5FontSize);
              font-weight: 700;
              transition: all 0.3s var(--transition);
              cursor: pointer;

              &:hover {
                color: var(--primaryColor);
              }
            }
          }
        }

        .socials {
          display: flex;
          column-gap: 20px;
          margin-bottom: 30px;

          .socialLink {
            color: var(--titleColor);
            font-size: var(--h5FontSize);
            transition: all 0.7s var(--transition);

            &:hover {
              color: var(--primaryColor);
            }
          }
        }
      }
    }

    .showMenu {
      width: 512px;
    }

    .btns {
      display: flex;
      align-items: center;
      column-gap: 40px;

      .themeToggle {
        font-size: var(--h4FontSize);
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .navToggle {
        height: 30px;
        width: 28px;
        position: relative;
        cursor: pointer;
        z-index: 100;

        span {
          position: absolute;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: var(--titleColor);
          transition: all 0.3s var(--transition);

          &:first-child {
            top: 8px;
          }

          &:last-child {
            bottom: 8px;
          }
        }
      }

      .animateToggle {
        span {
          &:first-child {
            transform: rotate(-45deg);
            top: 14px;
          }

          &:last-child {
            transform: rotate(45deg);
            bottom: 14px;
          }
        }
      }
    }
  }
}

.scrollHeader {
  background-color: var(--bgColorAlt);
}
