.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding-block: 60px;

  &__container {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  &__socials {
    display: flex;
    column-gap: 20px;
  }

  &__social-link {
    color: var(--title-color);
    font-size: var(--h5-font-size);
    transition: all 0.5s var(--transition);

    &:hover {
      color: var(--primary-color);
    }
  }

  &__copyright {
    font-size: var(--tiny-font-size);
    font-weight: 700;

    span {
      color: var(--primary-color);
    }

    &:nth-child(2) {
      justify-self: center;
    }

    &:last-child {
      justify-self: flex-end;
    }
  }
}